<main class="flex gap-10 justify-center items-center w-screen h-screen bg-teal-900">
  <section class="flex flex-col items-center gap-5">
    <span class="fixed -mt-24 text-6xl font-bold text-teal-500 underline">
      By Static JSON
    </span>

    @for (country of countriesByJson; track $index) {
      <app-country-card [country]="country" />
    }
  </section>

  <section class="flex flex-col h-[515px] items-center gap-5 overflow-scroll no-scrollbar">
    <span class="fixed -mt-24 text-6xl font-bold text-teal-500 underline">
      By API
    </span>
    @for (country of countriesByApi; track $index) {
      <app-country-card [country]="country" />
    }
  </section>
</main>
